* {
    box-sizing: border-box;
    margin: 0;
    color: white;
    background-color: black;
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 3rem;
}

.navbar-container {
    height: 100px;
    display: flex;
    justify-content: space-around;
    z-index: 10;
    font-size: 1.5rem;
}

.navbar-container img {
    height: 100px;
    padding: 1rem;
}

.navbar-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
}

.navbar-menu {
    display: flex;
    align-items: center;
}

.navbar-btn {
    display: flex;
    align-items: center;
    border: none;
    padding: 0 1rem;
    font-size: 1rem;
}

.navbar-btn-link {
    border-radius: 0.25rem;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    padding: 10px 22px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.welcome-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.welcome-container-1 {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin: 2rem;
    padding: 2rem;
}

.welcome-info {
    width: 75%;
}

.welcome-container-1 h1 {
    font-size: 4rem;
}

.welcome-container-1 p {
    font-size: 1.5rem;
}

.connect-wallet-btn {
    border-radius: 0.25rem;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    padding: 10px 22px;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-top: 2rem;
    width: 100%;
    font-size: 1rem;
}

.welcome-container-2 {
    margin: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.eth-card {
    background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    width: 400px;
    height: 200px;
    border-radius: 2rem;
    position: relative;
}

.eth-eth {
    position: absolute;
    background-color: transparent;
    margin: 1rem;
    border: 2px solid white;
    font-size: 2rem;
    border-radius: 1rem;
    left: 5%;
}

.eth-info {
    position: absolute;
    background-color: transparent;
    margin: 1rem;
    font-size: 1.5rem;
    right: 5%;
}

.wallet-address {
    position: absolute;
    background-color: transparent;
    margin: 1rem;
    left: 5%;
    bottom: 2.5%;
    font-size: 0.75rem;
}

.wallet-balance {
    position: absolute;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}

.transaction-form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    row-gap: 1rem;
    width: 500px;
}

.transaction-form button {
    border: 2px solid #716b94;
    font-size: 1rem;
}

.transaction-form input {
    border: none;
    border-bottom: 2px solid #716b94;
    font-size: 1rem;
}

.transfer-container {
    margin: 2rem;
}

.transfer-container h1 {
    text-align: center;
}

.transfer-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    margin: 2rem;
}

.payment-card {
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #716b94;
    border-radius: 1rem;
}

.payment-input {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
}

.payment-input p {
    word-wrap: break-word;
}

.cryptoland-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.footer-container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
}

.footer-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.seperator-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.seperator {
    height: 1px;
    background-color: #79e7e7;
    width: 75%;
}
